* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100bh;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.hud {
    width: 200px;
    height: 700px;
    border: 4px solid black;
}
#canvas {
    width: 800px;
    height: 700px;
    border: 4px solid black;
}